@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">TurnosClinica</a>
            </div>
        </div>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="nav flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="registrarturno">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Turno
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/panel" Match="NavLinkMatch.All">
                        <span class="bi bi-calendar-check" aria-hidden="true"></span> Panel de control
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/logout">Logout</NavLink>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </Authorized>

    <NotAuthorized>
        @* Sin navbar/sidebar para usuarios no logueados *@
    </NotAuthorized>
</AuthorizeView>