@page "/estados/crear"
@rendermode InteractiveServer
@using TurnosClinica.ApiClients.Estados
@using TurnosClinica.Application.DTOs.Estados
@inject EstadosApiClient Api
@inject NavigationManager Nav

<h3>Crear estado</h3>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="alert alert-danger">@Error</div>
}

<div class="mb-3">
    <label class="form-label">Nombre</label>
    <input class="form-control" @bind="Model.Nombre" />
</div>

<button class="btn btn-success" @onclick="Create" disabled="@Guardando">
    @(Guardando ? "Guardando..." : "Crear")
</button>

@code {

    private CrearEstadoVM Model = new();
    private string? Error;
    private bool Guardando;

    private async Task Create()
    {
        Error = null;
        Guardando = true;
        try
        {
            var req = new CrearEstadoRequest
            {
                Nombre = Model.Nombre
            };

            await Api.CrearAsync(req);
            Nav.NavigateTo("/estados");

        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            Guardando = false;
        }


    }

    private class CrearEstadoVM
    {
        public string Nombre { get; set; } = "";
    }

}
