@page "/paises"
@using TurnosClinica.Application.DTOs.Paises
@using TurnosClinica.ApiClients.Paises
@inject PaisesApiClient Api

<h3>Lista de paises</h3>


<NavLink class="btn btn-success mb-3" href="/paises/crear">
    Agregar nuevo Pais
</NavLink>


@if (!string.IsNullOrEmpty(Error))
{
    <h3>Cargando...</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Paises)
            {
                <tr>
                    <td>@p.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private List<PaisResponse> Paises = new();
    private bool Cargando;
    private string? Error;

    private async Task Cargar()
    {
        Cargando = true;
        Error = null;

        try
        {
            Paises = await Api.ListarAsync();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            Cargando = false;
        }

    }

    //Inicializa la carga siempre.
    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

}