@page "/provincias"
@using TurnosClinica.Application.DTOs.Provincias
@using TurnosClinica.ApiClients.Provincias
@inject ProvinciasApiClient Api

<h3>Provincias</h3>

<NavLink class="btn btn-success mb-3" href="/provincias/crear">
    Nueva provincia
</NavLink>


@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="alert alert-danger">@Error</div>
}

@if (Cargando)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Pais</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var p in Provincias)
            {
                <tr>
                    <td>@p.Nombre</td>
                    <td>@p.Pais</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<ProvinciaResponse> Provincias = new();
    private bool Cargando;
    private string? Error;


    private async Task Cargar()
    {

        Error = null;
        Cargando = true;

        try
        {
            Provincias = await Api.ListarAsync();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            Cargando = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

}
